body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-family: Montserrat;
    font-size: 0.8em;
}
table{
    border: 1px solid black;
    border-radius: 16px;
    margin: 0;
    padding: 16px;
}
td, tr{
    border-bottom: 1px solid black;
    padding: 8px;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
    height: 40px;
}
button{
    background-color: gray;
    width: 40%;
    height: 50px;
    border: 0;
    border-radius: 16px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    font-family: Montserrat;
}
button:hover{
    background-color: rgb(102, 102, 102);
    box-shadow: gray 0 4px 4px 0;
}
thead{
    font-weight: 700;
}
dialog{
    width: 80vw;
    height: 80vh;
    border: 0;
    border-radius: 24px;
    box-shadow: gray 0 8px 8px 0;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
form>div>div, form>div{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#readInput{
    flex-direction: row;
}
input{
    width: 80%;
    height: 30px;
    border-radius: 16px;
    border:lightgray 1px solid;
    padding: 16px;
    align-self: center;
    font-size: 0.9rem;
    font-family: Montserrat;
}
input:focus{
    outline: none;
}
input[type="checkbox"]:checked{
    accent-color: crimson;
}
label{
    font-weight: 700;
    font-size: 1.2rem;
    padding-left: 13%;
    width: 80%;
}
.fa-solid{
    font-size: 1.2em;
}
.fa-solid:hover{
    color: crimson;
    
}
.readDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    gap: 0px;
}
.change{
    font-size: 0.7em;
    width: 100%;
    padding: 6px;
    margin: 4px;
}